*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 16px;
}

body{
    background-color: #f1f2f3;
    max-width: 1400px;
    width: 100%;
}

/* EL MENU DE LA PAGINA */

.navbar{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 70px;
    background-color:rgb(84, 169, 172);
}
.mb-3{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand{
    text-shadow: -2px 2px 1px aquamarine;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translate(20px);
    transition: all 0.50s ease-out;
    transition-delay: 1.s;
}
.navbar-brand:hover {
    color: #f1f2f3;
}
.collapse{
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}
.active{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translate(20px);
    transition: all 0.50s ease-out;
    transition-delay: 1.s;
}
.active:hover{
    color: #f1f2f3;
}
.nav-link{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-shadow: -2px 2px 3px aquamarine;
    transform: translate(20px);
    transition: all 0.50s ease-out;
    transition-delay: 1.s;
}
.nav-link:hover{
    color: #f1f2f3;
    background-color: rgb(72, 66, 66);
    border-radius: 10px;
}
.navbar-toggler{
    background-color: #f1f2f3;
}
.navbar-toggler-icon{
    display: flex;
    flex-direction: row;
}

/*Label de la pregunta al clima a la API */
  
/* contenido de la pagina del clima */
.contenedor-imagen{
    display: flex;
    justify-content: center;
}

.imagen-clima_terrestre{
    width: 500px;
}
.contenedor-texto{
    display: flex;
    width: 100%;
}
.titulo-clima{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 4px 4px 1px rgb(186, 183, 183);
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}
.contenido{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 50px;
    margin-right: 50px;
}
/* TABLA GRAFICA Y IMAGEN DEL CLIMA */
.contenedor-tabla_grafica{
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 10px;
}
.contenido-tabla_grafica{
    display: flex;
    margin-top: 20px;
} 
.contenido-lista{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.titulo-tablagrafica{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #999;
    border: 1px solid white;
}
.subtitulo-tablagrafica{
    margin-top: 20px;
    text-align: center;
    font-size: 26px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(28, 25, 25);
    text-shadow: 1px 2px 3px #f1f2f3;
}
.subtitulo-tabla{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.informacion-lista{
   flex-direction: column;
   list-style: none;
}
span{
    margin-right: 20px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: -5px;
    border: 1px solid black;
}
.primer-span{
    background-color: #0000fe;
}
.segundo-span{
    background-color: #0077ff;
}
.tercer-span{
    background-color: #46a9fa;
}
.cuarto-span{
    background-color: #f30000;
}
.quinto-span{
    background-color: #f39695;
}
.sexto-span{
    background-color: #f5a301;
}
.septimo-span{
    background-color: #ffdb63;
}
.octavo-span{
    background-color:#ffff00;
}
.noveno-span{
    background-color: #c6c700;
}
.decimo-span{
    background-color: #969600;
}
.decimoprimero-span{
    background-color: #96ff96;
}
.decimosegundo-span{
    background-color: #63c764;
}
.decimotercero-span{
    background-color: #329633;
}
.decimocuarto-span{
    background-color: #c6ff4e;
}
.decimoquinto-span{
    background-color: #66ff33;
}
.decimosexto-span{
    background-color: #33c701;
}
.decimoseptimo-span{
    background-color: #ff00fe;
}
.decimooctavo-span{
    background-color: #c600c7;
}
.decimonoveno-span{
    background-color: #963295;
}
.vigesimo-span{
    background-color: #966495;
}
.vigesimoprimero-span{
    background-color: #abb1ff;
}
.vigesimosegundo-span{
    background-color: #5A77db;
}
.vigesimotercero-span{
    background-color: #4c51b5;
}
.vigesimocuarto-span{
    background-color: #320087;
}
.vigesimoquinto-span{
    background-color: #00ffff;
}
.vigesimosexto-span{
    background-color: #38c7ff;
}
.vigesimoseptimo-span{
    background-color: #00737d;
}
.vigesimooctavo-span{
    background-color: #00455e;
}
.vigesimonoveno-span{
    background-color: #00455e;
}
.trigesimo-span{
    background-color: #7b3e3e;
}
.trigesimoprimer-span{
    background-color: #686868;
}

/* PARAMETROS CLIMATICOS / Estudio del tiempo atmosferico */
.contenedor-parametros_climaticos{
    margin-top: 50px;
}

.subtitulos-clima{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 4px 4px 1px rgb(186, 183, 183);
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
    margin-top: 80px;
}
.contenedor-parametros_climaticos{
   font-size: 20px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin-left: 50px;
   margin-right: 50px;
}
.subtitulos-tiempo_atmosferico{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 4px 1px rgb(186, 183, 183);
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.subtitulo-del_subtitulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 4px 1px rgb(186, 183, 183);
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 22px;
}
.subtitulo-lista{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 4px 1px rgb(186, 183, 183);
    margin-left: 50px;
    font-size: 18px;
}
.listado{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 100px;
    margin-right: 50px;
}
.listado-factores_climaticos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 40px;
}
.listado-subtitulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 60px;
    margin-bottom: 25px;
}
.listado-texto{
    margin-top: 10px;
}



