*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: rgb(29, 22, 22);
    width: 100%;
}
.titulo-pagina{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f1f2f3;
    text-shadow: 1px 2px 3px #320087;
    text-align: center;
}
.form-label{
    width: 500px;
    height: 30px;
    display: flex;
    border: 1px solid black;
    margin: 0 auto;
}

.form-label:hover{
    box-shadow: 0 0 25px rgb(132, 0, 255);
}

/* ESTILOS DE LA INFORMACION DEL CLIMA DE LOS PAISES */
.contenedor-clima{
    width: 800px;
    height: 600px;
    display: none;
    margin: 0 auto;
    margin-top: 50px;
    border: 5px solid white;
    border-radius:  20px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 50px rgb(59, 143, 188);
}
.contenedor-imagen{
    width: 900px;
}

.imagen-ciudad{
    position: absolute;
    width: 100%;
    border-radius: 10px;
    height: 590px;
    opacity: 0.6;
}

.card{
    width: 100%;
    background-color: rgb(29, 22, 22);
}

.titulo-pais{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    text-shadow: 2px 1px 2px blue;
    margin-bottom: 10px;
}
.clima{
    color: #f1f2f3;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    text-shadow: 2px 1px 2px blue;
}
.sensacionTermica{
    color: #f1f2f3;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
}